body {
  scroll-behavior: smooth;
  font-family: Aqqxs, SegoeUI, HelveticaNeue, Lato, Roboto, PingFangSC,
  MicrosoftJhengHei, MicrosoftYaHei, sans-serif;
}

/* 滚动条样式 */
div::-webkit-scrollbar,
ul::-webkit-scrollbar,
pre::-webkit-scrollbar,
body::-webkit-scrollbar,
html::-webkit-scrollbar,
aside::-webkit-scrollbar,
main::-webkit-scrollbar {
  width: 12px !important;
  height: 12px !important;
  padding: 0 4px !important;
}

div::-webkit-scrollbar-thumb,
ul::-webkit-scrollbar-thumb,
pre::-webkit-scrollbar-thumb,
body::-webkit-scrollbar-thumb,
html::-webkit-scrollbar-thumb,
aside::-webkit-scrollbar-thumb,
main::-webkit-scrollbar-thumb {
  background-color: rgb(215 215 215) !important;
  border: 3px solid transparent !important;
  border-radius: 6px !important;
  background-clip: content-box !important;
}

div::-webkit-scrollbar-track,
ul::-webkit-scrollbar-track,
pre::-webkit-scrollbar-track,
body::-webkit-scrollbar-track,
html::-webkit-scrollbar-track,
aside::-webkit-scrollbar-track,
main::-webkit-scrollbar-track {
  /* 滚动条里面轨道 */
  background: #fafafa !important;
  border-radius: 0 4px 4px 0;
}
